Examples/*/Library
Examples/*/Logs
Examples/*/Temp
Examples/*/obj
Examples/*/bin
Examples/*/TinaX/VFS_Build
/Examples/E02_CloudBuild/Assets/StreamingAssets
/Examples/E02_CloudBuild/Assets/StreamingAssets.meta

**/Library
**/Logs
**/obj
**/Temp
**/UIElementsSchema


**/.vs/
**/.idea

*.sln
*.csproj

# third party 
**/Ludiq
**/Ludiq.Generated
